:root {
  --main-color: #ffb43f;
  --title-color: #1f253b;
  --info-color: #0000008a;
  --page-color: #f5f4f0;
}

body {
  font-family: "Open Sans", serif;
  background-color: var(--page-color);
}

/* Start Setting */
.setting-box{
  position: fixed;
  top: 0;
  left: -200px;
  background-color: #fff;
  width: 200px;
  z-index: 100;
  min-height: 100vh;
  transition: .3s;
}

.setting-box.open{
  left: 0;
}

.setting-box .toggle-setting{
  position: absolute;
  right: -30px;
  top: 100px;
  background-color: #fff;
  padding: 8px 0;
  width: 30px;
  text-align: center;
  cursor: pointer;
}

.setting-box .setting-container .option-box{
  padding: 20px;
}

.setting-box .setting-container .option-box h4{
  margin: 0;
  color: #666;
}

.setting-box .setting-container .option-box .colors-list{
  list-style: none;
  text-align: center;
  padding: 0;
}

.setting-box .setting-container .option-box .colors-list li{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  opacity: .5;
  display: inline-block;
}

.setting-box .setting-container .option-box .colors-list li:active{
  opacity: 1;
}

.setting-box .setting-container .option-box .colors-list li:first-child{
  background-color: #ffb43f;
}

.setting-box .setting-container .option-box .colors-list li:nth-child(2){
  background-color: #e91e63;
}

.setting-box .setting-container .option-box .colors-list li:nth-child(3){
  background-color: #009688;
}

.setting-box .setting-container .option-box .colors-list li:nth-child(4){
  background-color: #03a9f4;
}

.setting-box .setting-container .option-box .colors-list li:nth-child(5){
  background-color: #4caf50;
}
/* End Setting */

/* Start Landing Page */
.landing-page {
  min-height: 100vh;
}

.header-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.header-area .logo {
  width: 300px;
  padding: 15px;
  font-weight: bold;
  font-size: 24px;
  color: var(--title-color);
}

.header-area .links {
  list-style: none;
  font-size: 15px;
  text-transform: uppercase;
}

.header-area .links li {
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.header-area .links li:hover{
    color: var(--main-color);
}

.header-area .tools {
    display: flex;
    align-items: center;
}

.header-area .tools i {
  font-weight: 900;
  margin-left: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.header-area .tools i:hover {
color: var(--main-color);
}

.landing-page .introduction {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 15px;
}

.landing-page .introduction .introduction-text {
  flex: 1;
}

.landing-page .introduction .introduction-text h1 {
  font-size: 80px;
  text-transform: uppercase;
  margin-left: 90px;
  width: 505px;
  position: absolute;
  color: var(--title-color);
}

.landing-page .introduction .introduction-text span{
    color: var(--main-color);
}

.landing-page .introduction .introduction-text p {
  position: absolute;
  width: 326px;
  top: 40%;
  margin-left: 90px;
  line-height: 1.6;
  color: var(--info-color);
}

.landing-page .introduction .introduction-image {
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 600px;
  flex: 2;
  border-radius: 5px;
  transition: background-image 1s ease-in-out;

}

.landing-page .introduction .introduction-button {
  position: absolute;
  padding: 10px 15px;
  background-color: var(--title-color);
  top: 80%;
  margin-left: 90px;
  outline: none;
  border: none;
  transition: 0.3s;
}

.landing-page .introduction .introduction-button:hover,
.landing-page .introduction .introduction-button:active {
  border: none;
  outline: none;
  transform: scale(1.1);
}

.landing-page .introduction .introduction-button a {
  text-decoration: none;

  color: var(--page-color);
  transition: 0.3s;
}

.landing-page .introduction .introduction-button:hover a {
  color: var(--main-color);
}
/* End Landing Page */
